/* style.css */
window {
    background-image: url("fondo_naruto.jpg"); /* ruta de la imagen de fondo */
    background-size: cover;       /* ajusta la imagen al tamaño de la ventana */
    background-repeat: no-repeat;
    background-position: center;
}

entry {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
}

button {
    background: #d4d4d4;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 10px;
}

button:hover {
    background: #fdfdfd;
}

label {
    color: #333;
    font-family: "Sans";
    font-size: 12pt;
}

textview {
    background-color: #ffffff;
    border: 1px solid #fdfdfd;
    border-radius: 5px;
}
#resultado {
    background-color: #eef3fb;
    color: #ffffff;
    border: 1px solid #a3bffa;
}


